<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Add Club</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/shards.min.css">
    </head>
    <body>
    <div th:insert="/menu" >...</div>
        <div class="container my-5">
            <h2 class="mb-5">Booking Search</h2>
            <div class="row">
                <div class="col-md-6">
                    <form action="#" th:action="@{/searchReport}" th:object="${rsvpSearchForm}" method="post">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="studentName" class="col-form-label">Student Name</label>
                                <input type="text" th:field="*{studentName}" class="form-control" id="studentName" placeholder="">
                                <span th:if="${#fields.hasErrors('studentName')}" th:errors="*{studentName}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="email" class="col-form-label">Email</label>
                                <input type="text" th:field="*{email}" class="form-control" id="email" placeholder="">
                                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="clubName" class="col-form-label">Club Name</label>
                                <input type="text" th:field="*{clubName}" class="form-control" id="clubName" placeholder="">
                                <span th:if="${#fields.hasErrors('clubName')}" th:errors="*{clubName}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="building" class="col-form-label">Building</label>
                                <input type="text" th:field="*{building}" class="form-control" id="building" placeholder="">
                                <span th:if="${#fields.hasErrors('building')}" th:errors="*{building}" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-primary" value="View Club Booking History">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>